In [1]:
# Mounting Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [38]:
# Importing Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import pairwise_distances

In [40]:
recipes = pd.read_csv('/content/drive/MyDrive/Semester-2/Recommendation System/Assignment_2/RAW_recipes.csv')

In [41]:
recipe_reviews_df = pd.read_csv('/content/drive/MyDrive/Semester-2/Recommendation System/Assignment_2/interactions_train.csv')  # or any other method of loading the data
user_reviews = recipe_reviews_df.groupby('user_id').agg(reviews_count=('recipe_id', 'count')).reset_index()
user_reviews = user_reviews.sort_values('reviews_count', ascending=False).head(10000).reset_index(drop=True)

recipe_reviews = recipe_reviews_df.groupby('recipe_id').agg(reviews_count=('user_id', 'count')).reset_index()
recipe_reviews = recipe_reviews.sort_values('reviews_count', ascending=False).head(10000).reset_index(drop=True)

partially_reviewed = recipe_reviews_df.merge(user_reviews.drop('reviews_count', axis=1)).merge(recipe_reviews.drop('reviews_count', axis=1))

In [42]:
user_reviews.head()

   user_id  reviews_count
0   424680           6437
1    37449           4581
2   383346           3656
3   169430           3465
4   128473           3338

In [43]:
recipe_reviews.head()

   recipe_id  reviews_count
0      27208           1091
1      89204           1075
2      32204            897
3      39087            894
4      69173            787

In [44]:
partially_reviewed.head()

   user_id  recipe_id        date  rating     u       i
0     2312       2886  2001-04-18     5.0  1674  106975
1    11044       2886  2002-07-25     5.0  3425  106975
2    10979       2886  2001-06-18     5.0  1112  106975
3     9869       2886  2001-09-17     5.0   506  106975
4    22655       2886  2009-02-07     3.0  1628  106975

In [45]:
partially_reviewed = partially_reviewed[['user_id','recipe_id','rating']]

In [46]:
partially_reviewed.shape

(266168, 3)

In [47]:
print('unique users:',len(partially_reviewed.user_id.unique()))
print('unique recipes:',len(partially_reviewed.recipe_id.unique()))

unique users: 9966
unique recipes: 10000

In [48]:
new_userID = dict(zip(list(partially_reviewed['user_id'].unique()),
                      list(range(len(partially_reviewed['user_id'].unique())))))
new_userID

{2312: 0,
 11044: 1,
 10979: 2,
 9869: 3,
 22655: 4,
 15712: 5,
 26313: 6,
 25455: 7,
 25792: 8,
 10033: 9,
 8688: 10,
 28397: 11,
 29014: 12,
 31083: 13,
 30209: 14,
 36713: 15,
 29063: 16,
 42058: 17,
 43505: 18,
 32772: 19,
 60989: 20,
 55589: 21,
 64583: 22,
 30228: 23,
 76074: 24,
 85714: 25,
 88717: 26,
 96436: 27,
 93997: 28,
 69248: 29,
 25941: 30,
 101376: 31,
 59588: 32,
 98919: 33,
 92641: 34,
 111347: 35,
 91655: 36,
 91584: 37,
 126104: 38,
 60716: 39,
 135887: 40,
 121852: 41,
 122175: 42,
 144671: 43,
 148715: 44,
 130513: 45,
 140806: 46,
 10320: 47,
 155675: 48,
 155595: 49,
 159645: 50,
 142386: 51,
 162086: 52,
 163601: 53,
 151638: 54,
 172369: 55,
 168087: 56,
 162725: 57,
 153918: 58,
 184081: 59,
 188119: 60,
 189475: 61,
 99221: 62,
 186979: 63,
 194611: 64,
 203111: 65,
 201064: 66,
 207375: 67,
 207176: 68,
 215350: 69,
 218535: 70,
 217226: 71,
 215260: 72,
 227039: 73,
 224088: 74,
 227496: 75,
 124268: 76,
 143721: 77,
 235074: 78,
 203741: 79,
 257993: 80,
 259154: 81,
 145130: 82,
 247780: 83,
 246482: 84,
 269891: 85,
 297557: 86,
 272300: 87,
 302961: 88,
 267665: 89,
 307059: 90,
 315635: 91,
 258223: 92,
 298447: 93,
 320843: 94,
 200115: 95,
 300721: 96,
 330505: 97,
 336540: 98,
 316809: 99,
 214008: 100,
 225896: 101,
 311926: 102,
 317696: 103,
 357293: 104,
 338515: 105,
 358095: 106,
 368078: 107,
 357323: 108,
 383346: 109,
 394288: 110,
 394077: 111,
 416292: 112,
 421374: 113,
 385423: 114,
 441443: 115,
 453856: 116,
 354881: 117,
 432917: 118,
 165169: 119,
 471300: 120,
 482376: 121,
 512696: 122,
 489552: 123,
 517144: 124,
 493276: 125,
 519896: 126,
 494990: 127,
 522177: 128,
 536124: 129,
 536962: 130,
 289510: 131,
 501778: 132,
 560491: 133,
 465524: 134,
 564378: 135,
 566373: 136,
 222076: 137,
 452940: 138,
 583809: 139,
 574083: 140,
 589777: 141,
 605340: 142,
 585739: 143,
 486078: 144,
 526379: 145,
 629158: 146,
 653016: 147,
 630047: 148,
 517410: 149,
 612873: 150,
 535633: 151,
 426302: 152,
 720912: 153,
 708727: 154,
 742029: 155,
 743849: 156,
 777092: 157,
 680747: 158,
 336563: 159,
 777453: 160,
 679719: 161,
 806741: 162,
 815198: 163,
 829250: 164,
 836165: 165,
 847160: 166,
 475397: 167,
 824052: 168,
 862099: 169,
 525159: 170,
 765437: 171,
 599741: 172,
 937635: 173,
 358905: 174,
 645143: 175,
 668861: 176,
 151991: 177,
 904483: 178,
 870928: 179,
 975947: 180,
 364863: 181,
 1117099: 182,
 1052873: 183,
 1218405: 184,
 1126368: 185,
 1246335: 186,
 1220448: 187,
 804870: 188,
 1328942: 189,
 1252036: 190,
 1432111: 191,
 636029: 192,
 1408007: 193,
 878983: 194,
 1183373: 195,
 1581225: 196,
 1623265: 197,
 1654671: 198,
 1661468: 199,
 1677099: 200,
 261553: 201,
 2216812: 202,
 2754389: 203,
 1939035: 204,
 1801229764: 205,
 1802593948: 206,
 2941054: 207,
 2000391889: 208,
 2001836906: 209,
 47510: 210,
 58836: 211,
 172861: 212,
 176615: 213,
 209942: 214,
 225605: 215,
 229850: 216,
 257146: 217,
 274065: 218,
 269331: 219,
 232532: 220,
 242846: 221,
 192852: 222,
 426156: 223,
 589581: 224,
 648343: 225,
 697860: 226,
 830551: 227,
 1317887: 228,
 1516722: 229,
 8377: 230,
 18391: 231,
 29291: 232,
 37077: 233,
 51510: 234,
 67656: 235,
 87563: 236,
 59144: 237,
 165528: 238,
 65197: 239,
 398642: 240,
 154853: 241,
 28455: 242,
 37106: 243,
 37036: 244,
 55818: 245,
 62085: 246,
 63935: 247,
 95743: 248,
 335614: 249,
 369264: 250,
 629660: 251,
 798119: 252,
 4470: 253,
 5060: 254,
 37950: 255,
 38418: 256,
 37022: 257,
 14664: 258,
 46660: 259,
 50441: 260,
 54678: 261,
 68503: 262,
 53932: 263,
 142367: 264,
 146486: 265,
 134875: 266,
 140028: 267,
 173579: 268,
 189160: 269,
 199198: 270,
 198154: 271,
 330937: 272,
 331557: 273,
 344069: 274,
 481092: 275,
 529049: 276,
 338323: 277,
 751979: 278,
 1365025: 279,
 374891: 280,
 16459: 281,
 35106: 282,
 32570: 283,
 40620: 284,
 24386: 285,
 68588: 286,
 9333: 287,
 88099: 288,
 64203: 289,
 92816: 290,
 92184: 291,
 115853: 292,
 128473: 293,
 126440: 294,
 1535: 295,
 106501: 296,
 187281: 297,
 199708: 298,
 187373: 299,
 240958: 300,
 185926: 301,
 270514: 302,
 254614: 303,
 275249: 304,
 240668: 305,
 319609: 306,
 345731: 307,
 358796: 308,
 457907: 309,
 462336: 310,
 460301: 311,
 335355: 312,
 481464: 313,
 503916: 314,
 537188: 315,
 353379: 316,
 549519: 317,
 549460: 318,
 565276: 319,
 503763: 320,
 335571: 321,
 496829: 322,
 429544: 323,
 704950: 324,
 789516: 325,
 346383: 326,
 841981: 327,
 877111: 328,
 762767: 329,
 902736: 330,
 750003: 331,
 1060667: 332,
 178427: 333,
 1116488: 334,
 1136448: 335,
 1443020: 336,
 1462970: 337,
 1587732: 338,
 2868191: 339,
 6357: 340,
 13029: 341,
 28408: 342,
 52125: 343,
 55966: 344,
 58104: 345,
 38024: 346,
 129177: 347,
 99850: 348,
 149363: 349,
 179133: 350,
 227652: 351,
 237624: 352,
 230258: 353,
 246375: 354,
 274866: 355,
 229145: 356,
 305664: 357,
 372791: 358,
 663171: 359,
 885024: 360,
 1049139: 361,
 377366: 362,
 1911882: 363,
 31232: 364,
 33159: 365,
 18742: 366,
 55850: 367,
 56087: 368,
 23102: 369,
 59163: 370,
 59886: 371,
 59780: 372,
 90767: 373,
 92290: 374,
 51109: 375,
 106282: 376,
 117781: 377,
 72243: 378,
 121041: 379,
 119481: 380,
 109404: 381,
 125923: 382,
 140132: 383,
 141980: 384,
 97780: 385,
 119466: 386,
 168423: 387,
 185285: 388,
 222564: 389,
 230557: 390,
 241882: 391,
 241696: 392,
 225853: 393,
 281701: 394,
 294000: 395,
 57042: 396,
 443975: 397,
 486888: 398,
 536944: 399,
 663892: 400,
 718620: 401,
 801264: 402,
 874900: 403,
 644764: 404,
 1016844: 405,
 2284242: 406,
 27452: 407,
 30080: 408,
 58892: 409,
 63260: 410,
 69260: 411,
 103628: 412,
 126037: 413,
 130730: 414,
 130819: 415,
 128803: 416,
 116009: 417,
 158086: 418,
 160331: 419,
 148490: 420,
 171063: 421,
 191533: 422,
 227831: 423,
 241982: 424,
 272759: 425,
 219318: 426,
 340980: 427,
 350812: 428,
 388414: 429,
 485329: 430,
 553303: 431,
 620763: 432,
 706608: 433,
 914720: 434,
 1248003: 435,
 273543: 436,
 2426491: 437,
 2178: 438,
 51686: 439,
 55690: 440,
 74652: 441,
 63128: 442,
 224235: 443,
 246344: 444,
 138415: 445,
 243474: 446,
 358698: 447,
 593927: 448,
 56003: 449,
 86512: 450,
 63024: 451,
 165206: 452,
 445059: 453,
 256215: 454,
 909692: 455,
 1131605: 456,
 443407: 457,
 27643: 458,
 24323: 459,
 15820: 460,
 28649: 461,
 35848: 462,
 38745: 463,
 4657: 464,
 36944: 465,
 41809: 466,
 58038: 467,
 62043: 468,
 150727: 469,
 160205: 470,
 195175: 471,
 34834: 472,
 372937: 473,
 448204: 474,
 491095: 475,
 593424: 476,
 616211: 477,
 497077: 478,
 852529: 479,
 7308: 480,
 52543: 481,
 57898: 482,
 60304: 483,
 65720: 484,
 57222: 485,
 91392: 486,
 47892: 487,
 126602: 488,
 82908: 489,
 171854: 490,
 222970: 491,
 215062: 492,
 242205: 493,
 137838: 494,
 241140: 495,
 259006: 496,
 285867: 497,
 94355: 498,
 278516: 499,
 315671: 500,
 341513: 501,
 403428: 502,
 438568: 503,
 356620: 504,
 464327: 505,
 539686: 506,
 565592: 507,
 579298: 508,
 644191: 509,
 800480: 510,
 810787: 511,
 849727: 512,
 976718: 513,
 645231: 514,
 1128874: 515,
 1237086: 516,
 1415433: 517,
 13063: 518,
 2586: 519,
 42062: 520,
 59608: 521,
 72483: 522,
 80079: 523,
 129255: 524,
 121185: 525,
 143387: 526,
 157102: 527,
 146284: 528,
 178504: 529,
 263542: 530,
 466582: 531,
 291188: 532,
 533221: 533,
 247767: 534,
 6512: 535,
 6836: 536,
 31316: 537,
 47559: 538,
 51652: 539,
 55655: 540,
 67835: 541,
 68727: 542,
 93006: 543,
 89831: 544,
 105601: 545,
 101732: 546,
 136465: 547,
 138686: 548,
 159084: 549,
 132383: 550,
 171834: 551,
 168037: 552,
 177933: 553,
 231054: 554,
 288143: 555,
 229237: 556,
 339953: 557,
 180406: 558,
 411492: 559,
 300755: 560,
 372553: 561,
 181654: 562,
 369715: 563,
 623331: 564,
 1175380: 565,
 529949: 566,
 7802: 567,
 18660: 568,
 17608: 569,
 9580: 570,
 27385: 571,
 31558: 572,
 28177: 573,
 31499: 574,
 37275: 575,
 30893: 576,
 39389: 577,
 50229: 578,
 37147: 579,
 68210: 580,
 57589: 581,
 74783: 582,
 97579: 583,
 68960: 584,
 135665: 585,
 50841: 586,
 151418: 587,
 159488: 588,
 57162: 589,
 200862: 590,
 162775: 591,
 203325: 592,
 296085: 593,
 274467: 594,
 240552: 595,
 226867: 596,
 228375: 597,
 667915: 598,
 879350: 599,
 1048425: 600,
 723525: 601,
 21752: 602,
 25784: 603,
 37183: 604,
 41706: 605,
 44642: 606,
 55729: 607,
 60221: 608,
 78808: 609,
 88378: 610,
 50472: 611,
 121354: 612,
 160345: 613,
 98170: 614,
 360437: 615,
 846829: 616,
 27678: 617,
 37779: 618,
 49360: 619,
 49937: 620,
 50643: 621,
 60020: 622,
 71288: 623,
 86318: 624,
 78682: 625,
 147027: 626,
 160974: 627,
 193516: 628,
 236959: 629,
 219865: 630,
 166636: 631,
 407283: 632,
 35414: 633,
 45524: 634,
 62494: 635,
 65634: 636,
 106777: 637,
 133174: 638,
 175124: 639,
 188837: 640,
 29404: 641,
 114105: 642,
 312577: 643,
 280166: 644,
 275980: 645,
 439797: 646,
 492314: 647,
 546010: 648,
 597546: 649,
 790962: 650,
 815244: 651,
 1222615: 652,
 1783373: 653,
 12882: 654,
 28846: 655,
 35140: 656,
 46545: 657,
 46840: 658,
 53123: 659,
 57256: 660,
 56061: 661,
 60694: 662,
 68460: 663,
 8606: 664,
 80353: 665,
 75846: 666,
 101914: 667,
 50182: 668,
 157126: 669,
 191436: 670,
 185446: 671,
 296809: 672,
 239758: 673,
 402559: 674,
 835419: 675,
 81611: 676,
 28168: 677,
 307214: 678,
 305147: 679,
 372163: 680,
 348523: 681,
 546022: 682,
 744898: 683,
 679759: 684,
 601015: 685,
 1175362: 686,
 2920332: 687,
 58515: 688,
 129836: 689,
 115758: 690,
 192581: 691,
 209318: 692,
 119322: 693,
 686329: 694,
 714171: 695,
 562865: 696,
 823189: 697,
 391624: 698,
 111163: 699,
 121581: 700,
 157248: 701,
 181781: 702,
 232669: 703,
 323186: 704,
 329753: 705,
 395252: 706,
 422608: 707,
 512309: 708,
 56130: 709,
 57400: 710,
 58229: 711,
 29418: 712,
 128646: 713,
 177083: 714,
 121582: 715,
 227607: 716,
 287829: 717,
 290614: 718,
 305187: 719,
 378258: 720,
 378488: 721,
 395482: 722,
 401564: 723,
 354878: 724,
 566005: 725,
 600105: 726,
 182290: 727,
 797028: 728,
 960709: 729,
 981057: 730,
 904658: 731,
 32907: 732,
 45999: 733,
 38532: 734,
 92886: 735,
 101823: 736,
 405822: 737,
 2000431901: 738,
 27783: 739,
 37305: 740,
 39934: 741,
 52116: 742,
 25996: 743,
 58300: 744,
 53171: 745,
 98861: 746,
 115321: 747,
 124434: 748,
 111313: 749,
 131674: 750,
 129652: 751,
 123675: 752,
 11176: 753,
 189191: 754,
 296546: 755,
 335469: 756,
 386447: 757,
 489929: 758,
 517198: 759,
 383206: 760,
 516537: 761,
 900992: 762,
 969481: 763,
 625629: 764,
 800077: 765,
 54697: 766,
 153401: 767,
 262312: 768,
 339544: 769,
 383114: 770,
 350750: 771,
 461099: 772,
 1275380: 773,
 25467: 774,
 6651: 775,
 60260: 776,
 74281: 777,
 83541: 778,
 74904: 779,
 87023: 780,
 94168: 781,
 87870: 782,
 104599: 783,
 121840: 784,
 122001: 785,
 51613: 786,
 125325: 787,
 134289: 788,
 151547: 789,
 177753: 790,
 188305: 791,
 189616: 792,
 73988: 793,
 195212: 794,
 92913: 795,
 199020: 796,
 126032: 797,
 208631: 798,
 229940: 799,
 55392: 800,
 214444: 801,
 242856: 802,
 267853: 803,
 250440: 804,
 306106: 805,
 289680: 806,
 319738: 807,
 133547: 808,
 318028: 809,
 194829: 810,
 415204: 811,
 65025: 812,
 375111: 813,
 444534: 814,
 452355: 815,
 382123: 816,
 545825: 817,
 580608: 818,
 693345: 819,
 602448: 820,
 718022: 821,
 535516: 822,
 601753: 823,
 841067: 824,
 640474: 825,
 837451: 826,
 772912: 827,
 378553: 828,
 942707: 829,
 451574: 830,
 934824: 831,
 1187404: 832,
 695102: 833,
 1329782: 834,
 1686460: 835,
 2310: 836,
 67026: 837,
 48136: 838,
 103876: 839,
 192908: 840,
 198059: 841,
 283251: 842,
 333017: 843,
 400420: 844,
 424741: 845,
 432668: 846,
 500860: 847,
 540346: 848,
 683666: 849,
 860079: 850,
 885979: 851,
 876385: 852,
 1131790: 853,
 1176241: 854,
 1485433: 855,
 3288: 856,
 8629: 857,
 7108: 858,
 29667: 859,
 32265: 860,
 34122: 861,
 37449: 862,
 38513: 863,
 37722: 864,
 30503: 865,
 45001: 866,
 25177: 867,
 51224: 868,
 53868: 869,
 43413: 870,
 39311: 871,
 56463: 872,
 62086: 873,
 64642: 874,
 66983: 875,
 29244: 876,
 94243: 877,
 93446: 878,
 52262: 879,
 76535: 880,
 76951: 881,
 110875: 882,
 132010: 883,
 130531: 884,
 40135: 885,
 141569: 886,
 141277: 887,
 145097: 888,
 87109: 889,
 146047: 890,
 145352: 891,
 107334: 892,
 125640: 893,
 47907: 894,
 171303: 895,
 174096: 896,
 178742: 897,
 193709: 898,
 199418: 899,
 163112: 900,
 186070: 901,
 173306: 902,
 192264: 903,
 199207: 904,
 115957: 905,
 217726: 906,
 177638: 907,
 194398: 908,
 187918: 909,
 225903: 910,
 207257: 911,
 232667: 912,
 237123: 913,
 238619: 914,
 238364: 915,
 197992: 916,
 242809: 917,
 254446: 918,
 223979: 919,
 231198: 920,
 262090: 921,
 222433: 922,
 259150: 923,
 275075: 924,
 245429: 925,
 285039: 926,
 285687: 927,
 268426: 928,
 56905: 929,
 248023: 930,
 115523: 931,
 299685: 932,
 305873: 933,
 304290: 934,
 226863: 935,
 311203: 936,
 291568: 937,
 328023: 938,
 232190: 939,
 311003: 940,
 337963: 941,
 291306: 942,
 220433: 943,
 256795: 944,
 310749: 945,
 302618: 946,
 139306: 947,
 346860: 948,
 319943: 949,
 356062: 950,
 326039: 951,
 172114: 952,
 347822: 953,
 362983: 954,
 366048: 955,
 369566: 956,
 370200: 957,
 371738: 958,
 362986: 959,
 382071: 960,
 376098: 961,
 391048: 962,
 403729: 963,
 373817: 964,
 226417: 965,
 318235: 966,
 369747: 967,
 398275: 968,
 424680: 969,
 316717: 970,
 377202: 971,
 442988: 972,
 143917: 973,
 427184: 974,
 455970: 975,
 460029: 976,
 354166: 977,
 439685: 978,
 468146: 979,
 425260: 980,
 439066: 981,
 264017: 982,
 395679: 983,
 470799: 984,
 461472: 985,
 448004: 986,
 418179: 987,
 346221: 988,
 498271: 989,
 499050: 990,
 424494: 991,
 128945: 992,
 499305: 993,
 470351: 994,
 264012: 995,
 195589: 996,
 471652: 997,
 490367: 998,
 517900: 999,
 ...}

In [49]:
new_recipeID = dict(zip(list(partially_reviewed['recipe_id'].unique()),
                        list(range(len(partially_reviewed['recipe_id'].unique())))))
new_recipeID

{2886: 0,
 3368: 1,
 11020: 2,
 9023: 3,
 9254: 4,
 13619: 5,
 15364: 6,
 15654: 7,
 14337: 8,
 18513: 9,
 20492: 10,
 16698: 11,
 33454: 12,
 37490: 13,
 31639: 14,
 18487: 15,
 45539: 16,
 35779: 17,
 35547: 18,
 52840: 19,
 61718: 20,
 19901: 21,
 75817: 22,
 14359: 23,
 48537: 24,
 39911: 25,
 78189: 26,
 86868: 27,
 65131: 28,
 106251: 29,
 140466: 30,
 109283: 31,
 21761: 32,
 132411: 33,
 97648: 34,
 109006: 35,
 202935: 36,
 239592: 37,
 200008: 38,
 5478: 39,
 15340: 40,
 19257: 41,
 44995: 42,
 55680: 43,
 24709: 44,
 79462: 45,
 17300: 46,
 55394: 47,
 53767: 48,
 83287: 49,
 51235: 50,
 37638: 51,
 118475: 52,
 30018: 53,
 70224: 54,
 63750: 55,
 57033: 56,
 90822: 57,
 213535: 58,
 2713: 59,
 17222: 60,
 3400: 61,
 19596: 62,
 24685: 63,
 23418: 64,
 4368: 65,
 40621: 66,
 4460: 67,
 16110: 68,
 38618: 69,
 56453: 70,
 99570: 71,
 9168: 72,
 17092: 73,
 3683: 74,
 21320: 75,
 10075: 76,
 8599: 77,
 12668: 78,
 22201: 79,
 16726: 80,
 29184: 81,
 15656: 82,
 14255: 83,
 18651: 84,
 18829: 85,
 23116: 86,
 19590: 87,
 23195: 88,
 25254: 89,
 11489: 90,
 33386: 91,
 30864: 92,
 40682: 93,
 21256: 94,
 50342: 95,
 37037: 96,
 37199: 97,
 51919: 98,
 67777: 99,
 45940: 100,
 30644: 101,
 38305: 102,
 27809: 103,
 59183: 104,
 47413: 105,
 29493: 106,
 46597: 107,
 41009: 108,
 28165: 109,
 32147: 110,
 37494: 111,
 54257: 112,
 13640: 113,
 68955: 114,
 15280: 115,
 28768: 116,
 4571: 117,
 25885: 118,
 361521: 119,
 79595: 120,
 63689: 121,
 8486: 122,
 11030: 123,
 42780: 124,
 56231: 125,
 88175: 126,
 18888: 127,
 749: 128,
 31516: 129,
 9058: 130,
 11644: 131,
 14689: 132,
 17475: 133,
 11699: 134,
 16531: 135,
 12808: 136,
 22133: 137,
 27144: 138,
 30154: 139,
 27208: 140,
 38432: 141,
 4981: 142,
 16482: 143,
 22691: 144,
 26260: 145,
 23209: 146,
 31884: 147,
 60317: 148,
 18693: 149,
 55286: 150,
 26610: 151,
 51692: 152,
 83561: 153,
 35901: 154,
 92016: 155,
 73740: 156,
 76491: 157,
 99709: 158,
 100626: 159,
 8579: 160,
 86207: 161,
 47819: 162,
 127014: 163,
 41228: 164,
 71142: 165,
 118477: 166,
 31342: 167,
 124807: 168,
 157241: 169,
 77397: 170,
 113861: 171,
 62363: 172,
 71360: 173,
 97486: 174,
 41051: 175,
 177017: 176,
 76422: 177,
 185445: 178,
 66409: 179,
 38041: 180,
 52104: 181,
 33770: 182,
 91463: 183,
 43105: 184,
 79375: 185,
 99966: 186,
 29829: 187,
 28091: 188,
 144639: 189,
 125399: 190,
 272179: 191,
 82925: 192,
 21859: 193,
 154636: 194,
 217274: 195,
 239027: 196,
 25775: 197,
 93781: 198,
 74401: 199,
 28564: 200,
 79159: 201,
 4423: 202,
 12522: 203,
 11040: 204,
 22991: 205,
 28520: 206,
 27393: 207,
 20099: 208,
 16902: 209,
 37479: 210,
 46645: 211,
 20283: 212,
 71373: 213,
 36252: 214,
 90442: 215,
 81902: 216,
 33170: 217,
 86753: 218,
 94219: 219,
 78814: 220,
 21982: 221,
 106970: 222,
 102335: 223,
 19724: 224,
 89406: 225,
 132052: 226,
 66990: 227,
 33573: 228,
 44299: 229,
 76546: 230,
 53949: 231,
 22612: 232,
 104150: 233,
 12684: 234,
 121498: 235,
 66575: 236,
 95209: 237,
 11107: 238,
 24952: 239,
 90331: 240,
 37413: 241,
 12920: 242,
 60238: 243,
 190382: 244,
 234672: 245,
 9836: 246,
 78938: 247,
 88831: 248,
 13704: 249,
 71017: 250,
 96347: 251,
 29842: 252,
 46922: 253,
 98370: 254,
 247149: 255,
 205289: 256,
 48771: 257,
 92095: 258,
 79014: 259,
 42603: 260,
 23939: 261,
 160483: 262,
 333064: 263,
 20756: 264,
 199537: 265,
 4417: 266,
 288830: 267,
 208583: 268,
 107271: 269,
 30118: 270,
 135272: 271,
 118821: 272,
 59965: 273,
 103175: 274,
 72545: 275,
 204860: 276,
 153446: 277,
 8432: 278,
 265364: 279,
 225889: 280,
 80435: 281,
 34775: 282,
 204462: 283,
 69063: 284,
 40882: 285,
 301754: 286,
 53682: 287,
 102677: 288,
 188706: 289,
 138140: 290,
 239398: 291,
 173175: 292,
 256370: 293,
 81956: 294,
 151829: 295,
 150384: 296,
 117031: 297,
 97764: 298,
 536: 299,
 10870: 300,
 11474: 301,
 14396: 302,
 50600: 303,
 17724: 304,
 49786: 305,
 266161: 306,
 45055: 307,
 8507: 308,
 8547: 309,
 10808: 310,
 12498: 311,
 2772: 312,
 20470: 313,
 930: 314,
 22782: 315,
 18831: 316,
 24344: 317,
 17227: 318,
 26472: 319,
 29544: 320,
 31128: 321,
 24054: 322,
 40106: 323,
 13685: 324,
 17776: 325,
 35257: 326,
 64149: 327,
 59633: 328,
 48532: 329,
 36041: 330,
 42169: 331,
 52561: 332,
 32576: 333,
 44888: 334,
 62055: 335,
 53758: 336,
 34045: 337,
 39808: 338,
 30165: 339,
 9430: 340,
 78705: 341,
 22198: 342,
 42200: 343,
 27995: 344,
 31025: 345,
 24088: 346,
 69753: 347,
 27999: 348,
 20960: 349,
 14468: 350,
 84892: 351,
 89223: 352,
 38785: 353,
 91270: 354,
 52558: 355,
 88290: 356,
 85475: 357,
 19678: 358,
 86783: 359,
 49942: 360,
 38641: 361,
 73488: 362,
 92216: 363,
 95103: 364,
 25570: 365,
 20736: 366,
 25568: 367,
 48720: 368,
 29955: 369,
 89696: 370,
 19154: 371,
 96477: 372,
 97553: 373,
 85042: 374,
 14462: 375,
 48915: 376,
 107712: 377,
 106715: 378,
 105751: 379,
 95823: 380,
 40844: 381,
 51408: 382,
 89007: 383,
 110078: 384,
 106627: 385,
 113006: 386,
 87864: 387,
 49613: 388,
 101474: 389,
 71873: 390,
 60092: 391,
 56704: 392,
 29570: 393,
 20689: 394,
 22057: 395,
 43104: 396,
 149182: 397,
 17596: 398,
 59635: 399,
 132764: 400,
 47515: 401,
 160798: 402,
 73033: 403,
 65340: 404,
 101751: 405,
 15865: 406,
 127652: 407,
 77978: 408,
 133751: 409,
 173988: 410,
 107786: 411,
 35932: 412,
 112624: 413,
 160194: 414,
 34406: 415,
 34382: 416,
 77403: 417,
 113193: 418,
 168745: 419,
 97831: 420,
 142909: 421,
 100526: 422,
 184501: 423,
 211225: 424,
 209398: 425,
 146427: 426,
 101490: 427,
 134118: 428,
 186432: 429,
 26210: 430,
 106262: 431,
 240543: 432,
 120444: 433,
 95086: 434,
 44263: 435,
 241296: 436,
 63499: 437,
 188992: 438,
 203354: 439,
 107868: 440,
 64435: 441,
 38806: 442,
 85871: 443,
 8595: 444,
 24986: 445,
 99476: 446,
 89932: 447,
 30946: 448,
 160446: 449,
 312520: 450,
 11502: 451,
 51861: 452,
 88350: 453,
 51209: 454,
 95017: 455,
 140047: 456,
 150614: 457,
 169307: 458,
 116224: 459,
 125034: 460,
 323657: 461,
 187519: 462,
 45069: 463,
 204629: 464,
 25806: 465,
 9004: 466,
 321674: 467,
 128858: 468,
 53198: 469,
 131270: 470,
 217948: 471,
 87623: 472,
 51349: 473,
 57589: 474,
 122554: 475,
 64049: 476,
 234465: 477,
 69850: 478,
 15518: 479,
 26230: 480,
 14315: 481,
 19042: 482,
 100952: 483,
 117565: 484,
 90142: 485,
 254959: 486,
 40340: 487,
 136589: 488,
 43891: 489,
 389232: 490,
 129996: 491,
 37336: 492,
 113914: 493,
 83370: 494,
 101635: 495,
 67256: 496,
 153877: 497,
 89207: 498,
 317044: 499,
 24019: 500,
 281304: 501,
 23094: 502,
 19957: 503,
 74223: 504,
 154576: 505,
 199579: 506,
 94195: 507,
 71967: 508,
 26276: 509,
 118242: 510,
 95569: 511,
 48755: 512,
 1438: 513,
 207860: 514,
 120971: 515,
 23789: 516,
 1600: 517,
 50719: 518,
 152116: 519,
 155369: 520,
 235379: 521,
 151177: 522,
 355621: 523,
 216237: 524,
 105177: 525,
 135350: 526,
 106611: 527,
 69173: 528,
 116814: 529,
 37000: 530,
 77514: 531,
 195816: 532,
 261024: 533,
 185080: 534,
 48012: 535,
 218794: 536,
 236658: 537,
 222188: 538,
 129906: 539,
 33811: 540,
 115809: 541,
 272270: 542,
 64015: 543,
 181242: 544,
 79308: 545,
 32142: 546,
 31114: 547,
 26849: 548,
 243900: 549,
 33671: 550,
 123479: 551,
 80413: 552,
 138528: 553,
 26778: 554,
 32204: 555,
 105080: 556,
 43826: 557,
 56694: 558,
 97023: 559,
 18914: 560,
 445214: 561,
 66795: 562,
 19224: 563,
 73929: 564,
 68613: 565,
 355243: 566,
 55673: 567,
 14537: 568,
 14927: 569,
 246: 570,
 31607: 571,
 43265: 572,
 15072: 573,
 27733: 574,
 21387: 575,
 32369: 576,
 23687: 577,
 12365: 578,
 34488: 579,
 51655: 580,
 26257: 581,
 30141: 582,
 57919: 583,
 15411: 584,
 13253: 585,
 278: 586,
 69372: 587,
 57177: 588,
 67524: 589,
 67470: 590,
 47391: 591,
 92096: 592,
 29679: 593,
 57549: 594,
 25724: 595,
 79944: 596,
 37425: 597,
 8782: 598,
 17045: 599,
 11390: 600,
 15060: 601,
 20643: 602,
 24466: 603,
 20287: 604,
 16610: 605,
 41657: 606,
 10833: 607,
 50704: 608,
 13181: 609,
 18010: 610,
 58408: 611,
 16557: 612,
 20266: 613,
 24423: 614,
 40879: 615,
 57250: 616,
 15031: 617,
 37168: 618,
 85201: 619,
 71503: 620,
 19559: 621,
 73939: 622,
 17181: 623,
 56103: 624,
 104171: 625,
 16884: 626,
 7798: 627,
 94128: 628,
 33919: 629,
 78575: 630,
 39864: 631,
 155186: 632,
 9370: 633,
 14070: 634,
 2072: 635,
 24947: 636,
 31314: 637,
 14701: 638,
 210757: 639,
 89204: 640,
 82102: 641,
 88486: 642,
 166796: 643,
 16546: 644,
 231927: 645,
 11811: 646,
 81675: 647,
 60581: 648,
 26555: 649,
 68159: 650,
 69202: 651,
 52272: 652,
 27171: 653,
 19859: 654,
 10744: 655,
 42071: 656,
 28148: 657,
 34499: 658,
 46967: 659,
 9872: 660,
 8844: 661,
 11365: 662,
 11616: 663,
 11642: 664,
 12313: 665,
 12716: 666,
 14357: 667,
 14248: 668,
 14130: 669,
 16512: 670,
 12802: 671,
 17375: 672,
 23836: 673,
 13445: 674,
 19875: 675,
 21770: 676,
 25625: 677,
 25360: 678,
 21155: 679,
 25401: 680,
 17382: 681,
 25431: 682,
 27546: 683,
 25632: 684,
 19395: 685,
 29129: 686,
 32869: 687,
 33147: 688,
 31767: 689,
 33962: 690,
 16666: 691,
 15229: 692,
 35293: 693,
 10696: 694,
 38714: 695,
 18597: 696,
 16859: 697,
 35410: 698,
 22941: 699,
 30724: 700,
 35614: 701,
 29215: 702,
 24139: 703,
 42620: 704,
 30858: 705,
 43061: 706,
 43998: 707,
 30473: 708,
 46737: 709,
 26370: 710,
 28517: 711,
 48037: 712,
 47119: 713,
 48540: 714,
 49579: 715,
 33528: 716,
 43703: 717,
 41260: 718,
 54339: 719,
 46773: 720,
 49353: 721,
 57972: 722,
 60820: 723,
 61850: 724,
 62623: 725,
 63222: 726,
 63356: 727,
 3180: 728,
 36123: 729,
 65410: 730,
 64533: 731,
 29636: 732,
 62237: 733,
 64763: 734,
 66447: 735,
 65265: 736,
 67447: 737,
 67433: 738,
 68514: 739,
 61826: 740,
 68832: 741,
 69953: 742,
 56268: 743,
 69407: 744,
 71127: 745,
 71906: 746,
 59773: 747,
 72741: 748,
 72608: 749,
 74300: 750,
 76386: 751,
 79247: 752,
 83093: 753,
 84324: 754,
 85857: 755,
 86353: 756,
 86517: 757,
 87282: 758,
 87323: 759,
 87612: 760,
 87782: 761,
 88333: 762,
 88794: 763,
 89750: 764,
 90140: 765,
 29365: 766,
 91128: 767,
 5287: 768,
 25322: 769,
 91598: 770,
 16465: 771,
 91789: 772,
 81339: 773,
 93026: 774,
 93128: 775,
 95711: 776,
 95808: 777,
 96003: 778,
 96581: 779,
 96978: 780,
 97439: 781,
 47640: 782,
 98447: 783,
 98783: 784,
 98869: 785,
 71472: 786,
 33869: 787,
 99866: 788,
 100298: 789,
 101431: 790,
 32082: 791,
 101836: 792,
 74080: 793,
 103762: 794,
 4332: 795,
 104861: 796,
 56652: 797,
 102612: 798,
 105594: 799,
 106571: 800,
 108248: 801,
 78922: 802,
 83061: 803,
 108931: 804,
 81347: 805,
 108787: 806,
 114956: 807,
 18029: 808,
 130050: 809,
 109716: 810,
 141796: 811,
 145221: 812,
 146236: 813,
 158428: 814,
 8468: 815,
 8626: 816,
 10852: 817,
 834: 818,
 3805: 819,
 3057: 820,
 5453: 821,
 11382: 822,
 11427: 823,
 12847: 824,
 12249: 825,
 8531: 826,
 13168: 827,
 16856: 828,
 16193: 829,
 13656: 830,
 14005: 831,
 12619: 832,
 17824: 833,
 20940: 834,
 20873: 835,
 8813: 836,
 20907: 837,
 25075: 838,
 21003: 839,
 24728: 840,
 8534: 841,
 10443: 842,
 26333: 843,
 28377: 844,
 13994: 845,
 22221: 846,
 28662: 847,
 16501: 848,
 17398: 849,
 16271: 850,
 18058: 851,
 30505: 852,
 18762: 853,
 31349: 854,
 31040: 855,
 24156: 856,
 31997: 857,
 31272: 858,
 37423: 859,
 38221: 860,
 3472: 861,
 39064: 862,
 42680: 863,
 43165: 864,
 32043: 865,
 14381: 866,
 45308: 867,
 46958: 868,
 47644: 869,
 46925: 870,
 519: 871,
 45571: 872,
 43914: 873,
 52999: 874,
 52172: 875,
 23257: 876,
 49200: 877,
 58896: 878,
 34668: 879,
 59442: 880,
 13269: 881,
 61439: 882,
 45637: 883,
 50958: 884,
 63909: 885,
 26076: 886,
 64364: 887,
 11266: 888,
 65055: 889,
 21617: 890,
 61618: 891,
 68644: 892,
 45354: 893,
 52624: 894,
 64648: 895,
 59885: 896,
 19525: 897,
 47488: 898,
 55600: 899,
 3806: 900,
 72774: 901,
 73970: 902,
 44841: 903,
 35217: 904,
 59156: 905,
 53133: 906,
 28549: 907,
 85002: 908,
 49813: 909,
 85096: 910,
 59510: 911,
 86808: 912,
 80822: 913,
 47354: 914,
 88410: 915,
 26792: 916,
 55086: 917,
 84217: 918,
 8592: 919,
 89155: 920,
 68240: 921,
 34011: 922,
 82546: 923,
 20037: 924,
 26229: 925,
 62057: 926,
 85349: 927,
 31502: 928,
 94198: 929,
 27210: 930,
 31415: 931,
 90084: 932,
 55885: 933,
 94964: 934,
 92923: 935,
 92022: 936,
 61621: 937,
 15277: 938,
 98184: 939,
 84221: 940,
 98927: 941,
 62355: 942,
 8374: 943,
 100000: 944,
 100542: 945,
 19984: 946,
 9050: 947,
 42280: 948,
 167: 949,
 91720: 950,
 93373: 951,
 100068: 952,
 30951: 953,
 20662: 954,
 44666: 955,
 85319: 956,
 63986: 957,
 52670: 958,
 60052: 959,
 58801: 960,
 74532: 961,
 102524: 962,
 11200: 963,
 57153: 964,
 14549: 965,
 10266: 966,
 58601: 967,
 72334: 968,
 37120: 969,
 2056: 970,
 92316: 971,
 14031: 972,
 107546: 973,
 52192: 974,
 106465: 975,
 108948: 976,
 116436: 977,
 110496: 978,
 109070: 979,
 116324: 980,
 116382: 981,
 113248: 982,
 37760: 983,
 39383: 984,
 109385: 985,
 21313: 986,
 34288: 987,
 109393: 988,
 11397: 989,
 59336: 990,
 59083: 991,
 120467: 992,
 61069: 993,
 12436: 994,
 67949: 995,
 46743: 996,
 21135: 997,
 85545: 998,
 51885: 999,
 ...}

In [50]:
data = partially_reviewed.replace({'user_id': new_userID, 'recipe_id': new_recipeID})
data.head()

   user_id  recipe_id  rating
0        0          0     5.0
1        1          0     5.0
2        2          0     5.0
3        3          0     5.0
4        4          0     3.0

In [51]:
recipe = recipes[['name', 'id', 'ingredients']].merge(partially_reviewed[['recipe_id']], 
                                                left_on = 'id', right_on = 'recipe_id', 
                                                how = 'right').drop(['id'], axis = 1).drop_duplicates().reset_index(drop = True)
recipe

,name,ingredients,recipe_id
0,best banana bread,"['butter', 'granulated sugar', 'eggs', 'banana...",2886
1,blackberry pie iii,"['sugar', 'all-purpose flour', 'cornstarch', '...",3368
2,casablanca chicken,"['boneless skinless chicken breasts', 'olive o...",11020
3,memaw s collard greens,"['collard greens', 'smoked bacon', 'sugar', 's...",9023
4,grilled salmon,"['fresh salmon', 'butter', 'garlic', 'salt', '...",9254
...,...,...,...
9995,crispy shrimp stuffed pork meatballs rsc,"['breadcrumbs', 'parmesan cheese', 'hidden val...",495134
9996,cheesy potato italian sausage balls 5fix,['simply potatoes traditional mashed potatoes'...,496573
9997,cheddar stuffed potato cake and egg 5fix,"['olive oil', 'simply potatoes traditional mas...",497382
9998,mac n cheese and spinach strata sp5,"['simply macaroni & cheese', 'frozen spinach',...",514423
9999,dilly smoked salmon potato stacks 5fix,"['simply potatoes shredded hash browns', 'smok...",496552

In [52]:
# Adjusting Rating...
mean = data.groupby(['user_id'], as_index = False, sort = False).mean().rename(columns = {'rating':'rating_mean'})
data = data.merge(mean[['user_id','rating_mean']], how = 'left')
data.insert(2, 'rating_adjusted', data['rating'] - data['rating_mean'])
data

        user_id  recipe_id  rating_adjusted  rating  rating_mean
0             0          0         0.358974     5.0     4.641026
1             1          0         0.307692     5.0     4.692308
2             2          0         0.000000     5.0     5.000000
3             3          0         0.094431     5.0     4.905569
4             4          0        -1.000000     3.0     4.000000
...         ...        ...              ...     ...          ...
266163     9840       9999         1.176471     5.0     3.823529
266164     9841       9999         0.500000     5.0     4.500000
266165     9951       9999         0.333333     5.0     4.666667
266166     9959       9999         0.000000     5.0     5.000000
266167     9964       9999         0.000000     5.0     5.000000

[266168 rows x 5 columns]

In [53]:
# Train-Test Split...
train_data, test_data = train_test_split(data, test_size = 0.25)
n_users = data.user_id.unique()
n_items = data.recipe_id.unique()
train_data_matrix = np.zeros((n_users.shape[0], n_items.shape[0]))
for row in train_data.itertuples():
    train_data_matrix[row[1]-1, row[2]-1] = row[3]
display(train_data_matrix.shape)
display(train_data_matrix)

(9966, 10000)

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.30769231],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.09443099],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.35897436, 0.        , 0.        , ..., 0.        , 0.        ,
        0.35897436]])

In [54]:
test_data_matrix = np.zeros((n_users.shape[0], n_items.shape[0]))
for row in test_data.itertuples():
    test_data_matrix[row[1]-1, row[2]-1] = row[3]
display(test_data_matrix.shape)
display(test_data_matrix)

(9966, 10000)

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.35897436, -0.64102564, ...,  0.        ,
         0.        ,  0.        ]])

In [55]:
item_similarity = 1 - pairwise_distances(train_data_matrix.T, metric = 'cosine')
display(item_similarity.shape)
display(item_similarity)

(10000, 10000)

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.00249396],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.00523503],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.11873674,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.11873674, 1.        ,
        0.        ],
       [0.00249396, 0.00523503, 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [56]:
def predict(ratings, similarity):
    pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis = 1)]) 
    return pred

In [57]:
item_pred = predict(train_data_matrix, item_similarity)
display(item_pred.shape)
display(item_pred)

(9966, 10000)

array([[ 3.44568621e-05,  3.87895637e-05,  1.12532451e-04, ...,
         0.00000000e+00,  0.00000000e+00,  1.06825716e-02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-1.14415602e-04,  8.52386386e-04,  3.56489951e-04, ...,
         0.00000000e+00,  0.00000000e+00,  2.91074238e-03],
       ...,
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 3.18367002e-02, -2.42550463e-03, -1.91384079e-03, ...,
         0.00000000e+00,  0.00000000e+00,  1.23995705e-02]])

In [58]:
item_pred_df = pd.DataFrame(item_pred, columns = list(n_items))
item_pred_df.insert(0, 'user_id', list(n_users))

In [59]:
item_pred_df

,user_id,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0,0.000034,0.000039,0.000113,-0.000033,0.000092,-0.000286,0.000060,-0.000204,0.000488,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.010683
1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,2,-0.000114,0.000852,0.000356,0.001626,0.000032,-0.000266,-0.000598,-0.000147,0.001746,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002911
3,3,-0.019131,0.005912,-0.000083,0.002600,0.001904,0.000824,0.001553,0.002306,-0.001952,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.075542
4,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9961,9961,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
9962,9962,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
9963,9963,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
9964,9964,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
9965,9965,0.031837,-0.002426,-0.001914,0.021929,0.022059,0.000292,0.025315,0.007030,0.084218,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.012400

In [60]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def RMSE(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten()
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    
    return sqrt(mean_squared_error(prediction, ground_truth))
item_RMSE = RMSE(item_pred, test_data_matrix)
print('item_RMSE = {}'.format(item_RMSE))

item_RMSE = 0.8661934049161691

In [61]:
def getRecommendations_UserBased(user_id, top_n = 10):
    for old_user, new_user in new_userID.items():
        if user_id == new_user:
            print(f'Top {top_n} Recommended Recipes for Original User ID: {old_user}\n')
    
    movie_rated = list(data['recipe_id'].loc[data['user_id'] == user_id])
    item = item_pred_df.loc[item_pred_df['user_id'] == user_id].copy()
    item.drop(item_pred_df[movie_rated], axis = 1, inplace = True)
    unwatch_sorted = item.iloc[:,1:].sort_values(by = item.index[0], axis = 1, ascending = False)
    dict_top_n = unwatch_sorted.iloc[:, :top_n].to_dict(orient = 'records')

    i = 1
    for recipe_id in list(dict_top_n[0].keys()):
        for old_recipe, new_recipe in new_recipeID.items():
            if recipe_id == new_recipe:
                name = recipe[recipe['recipe_id'] == old_recipe]['name'].values[0]
                ingredients = recipe[recipe['recipe_id'] == old_recipe]['ingredients'].values[0]

                print(f'Top {i} Original Recipe ID: {old_recipe} - {name}\n Ingredients: {ingredients}\n')
                
                i += 1
                
    return dict_top_n[0]

In [62]:
recommendations = getRecommendations_UserBased(2)
recommendations

Top 10 Recommended Recipes for Original User ID: 10979

Top 1 Original Recipe ID: 11661 - oven roast beef
 Ingredients: ['sirloin tip roast', 'dry onion soup mix', 'cream of mushroom soup', 'water']

Top 2 Original Recipe ID: 29984 - honey steak marinade
 Ingredients: ['soy sauce', 'honey', 'vinegar', 'fresh ginger', 'garlic', 'olive oil', 'flank steaks']

Top 3 Original Recipe ID: 33843 - baked salsa chicken breast
 Ingredients: ['boneless skinless chicken breast halves', 'salsa', 'brown sugar', 'balsamic vinegar', 'dijon mustard']

Top 4 Original Recipe ID: 23686 - mean chef s maple brine
 Ingredients: ['brown sugar', 'maple syrup', 'kosher salt', 'garlic', 'bay leaves', 'fresh ginger', 'dried chili pepper flakes', 'soy sauce', 'fresh thyme', 'water']

Top 5 Original Recipe ID: 12354 - mexican flan  baked caramel custard
 Ingredients: ['sugar', 'eggs', 'milk', 'vanilla', 'orange rind', 'fruit']

Top 6 Original Recipe ID: 98345 - pot stickers  chinese dumplings
 Ingredients: ['ground pork', 'green onions', 'soy sauce', 'rice wine', 'sesame oil', 'garlic clove', 'egg', 'cornstarch', 'salt', 'pepper', 'peanut oil', 'chicken broth', 'wonton skins']

Top 7 Original Recipe ID: 51406 - a simple chicken satay
 Ingredients: ['onion', 'garlic clove', 'soya sauce', 'oil', 'peanut butter', 'brown sugar', 'lemon juice', 'cayenne', 'coriander', 'chicken']

Top 8 Original Recipe ID: 172084 - savoury fish bake
 Ingredients: ['fish fillets', 'sweet basil', 'salt', 'butter', 'lemon juice', 'soft breadcrumbs', 'cheese', 'parsley', 'tomato sauce']

Top 9 Original Recipe ID: 97468 - orzo  grape and pistachio salad
 Ingredients: ['orzo pasta', 'red grapes', 'pistachios', 'basil', 'lemon juice', 'walnut oil', 'garlic cloves']

Top 10 Original Recipe ID: 98846 - chicken parmesan   low fat
 Ingredients: ['boneless skinless chicken breasts', 'low-fat italian salad dressing', 'breadcrumbs', 'italian seasoning mix', 'spaghetti sauce', 'parmesan cheese', 'low fat mozzarella']

{1722: 0.1814800643894581,
 1887: 0.10103749032997845,
 1823: 0.08284437451452778,
 1768: 0.07262397532631026,
 1675: 0.06612550630856073,
 1753: 0.06612475996243122,
 7737: 0.06414057059651325,
 1874: 0.06252412206403096,
 1778: 0.05992197519705414,
 1862: 0.05614749455362678}